# Environnement virtuel
venv/
.env/

# Fichiers système
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pkl
*.joblib
!model/*.pkl

# Données sensibles ou volumineuses


# Cache Streamlit
.streamlit/config.toml
.streamlit/secrets.toml

# Logs (optionnel)
*.log

**/.ipynb_checkpoints
