# Environnement virtuel
venv/
.env/

# Fichiers système
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pkl
*.joblib

# Données sensibles ou volumineuses
*.csv
data/simulation_result/*.csv

# Cache Streamlit
.streamlit/config.toml
.streamlit/secrets.toml

# Logs (optionnel)
*.log